<%- include('../partials/header', {title: 'All Flights'}); %>
<table>
  <thead>
    <tr>
      <% [
        ['Flight No.', 'flightNo'],
        ['Airline', 'airline'],
        ['Destination', 'airport'],
        ['Departure Time', 'departs']
      ].forEach(col => { %>
      <th>
        <a href="<%= `?sort=${col[1]}&${
          req.query.sort === col[1] && req.query.ascending
            ? 'descending'
            : 'ascending'}=true` %>">
          <%= col[0] %>
        </a>
      </th>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(flight => { %>
    <tr>
      <td><%= flight.flightNo %></td>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.departs.toLocaleString() %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../partials/footer'); %>
