<%- include('../partials/header', {title: 'All Flights'}); %>
<% if(flights.length){ %>
<ul>
  <% flights.forEach(flight => { %>
  <li>
    <%= flight.airline %> Flight #<%= flight.flightNo %> departs from <%=
    flight.airport %> at <%= flight.departs %>
  </li>
  <% }); %>
</ul>
<% }; %> <%- include('../partials/footer'); %>
