<%- include('../partials/header', {title: 'All Flights'}); %>
<table>
  <thead>
    <tr>
      <th>Flight No.</th>
      <th>Airline</th>
      <th>Destination</th>
      <th>Departure Time</th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(flight => { %>
    <tr>
      <td><%= flight.flightNo %></td>
      <td><%= flight.airline %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.departs.toLocaleString() %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../partials/footer'); %>
