<%- include('../partials/header', {
  title: `${flight.airline} Flight #${flight.flightNo}`
});
%>
<table>
  <tr>
    <td colspan="2">Flight No.</td>
    <td><%= flight.flightNo %></td>
  </tr>
  <tr>
    <td colspan="2">Airline</td>
    <td><%= flight.airline %></td>
  </tr>
  <tr>
    <td colspan="2">Airport</td>
    <td><%= longAirport[flight.airport] %></td>
  </tr>
  <tr>
    <td colspan="2">Departure Time</td>
    <td><%= flight.departs.toLocaleString() %></td>
  </tr>
  <% if(flight.destinations.length){
    flight.destinations.forEach((destination, i) => { %>
    <% if(!i){ %>
      <td rowspan="<%= flight.destinations.length %>">Destinations</td>
    <% } %>
    <td><%= longAirport[destination.airport] %></td>
    <td><%= destination.arrival.toLocaleString() %></td>
  <% })} else { %>
  <tr>
    <td colspan="2">Destinations</td>
    <td>n/a</td>
  </tr>
  <% } %>
</table>
<h3>Add Destination</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <%- include('../partials/airport-select'); %>
  <br />
  <label>Arrival Time:</label>
  <input name="arrival" type="datetime-local" />
  <br />
  <input type="submit" value="Add Destination" />
</form>
<%- include('../partials/footer'); %>
