<%- include('../partials/header', {
  title: `${flight.airline} Flight #${flight.flightNo}`
}); %>
<script id="flight__data" type="text/json">
  <%- JSON.stringify(flight); %>
</script>
<table>
  <tr>
    <td colspan="2">Flight No.</td>
    <td><%= flight.flightNo %></td>
  </tr>
  <tr>
    <td colspan="2">Airline</td>
    <td><%= flight.airline %></td>
  </tr>
  <tr>
    <td colspan="2">Airport</td>
    <td><%= airports[flight.airport] %></td>
  </tr>
  <tr>
    <td colspan="2">Departure Time</td>
    <td><%= flight.departs.toLocaleString() %></td>
  </tr>
</table>
<h2>Destinations</h2>
<div id="flight__map"></div>
<ul>
  <% flight.destinations.forEach(destination => { %>
  <li>
    <%# Replace this with a Leaflet instance to display destinations? %>
    <%= airports[destination.airport] %> at
    <%= destination.arrival &&
        destination.arrival.toLocaleString() %>
    <form
      action="<%=
        `/flights/${flight._id}/destinations/${destination._id}?_method=DELETE` 
      %>" method="POST"
    >
      <button type="submit">Remove</button>
    </form>
  </li>
  <% }); %>
</ul>
<h3>Add Destination</h3>
<form action="/flights/<%= flight._id %>/destinations" method="POST">
  <%- include('../partials/airport-select', {
    airports,
    excludes: flight.destinations.map(d => d.airport)
  }); %>
  <br />
  <label>Arrival Time:</label>
  <input
    name="arrival"
    type="datetime-local"
    value="<%= new Date().toISOString().slice(0, 16) %>"
    required
  />
  <br />
  <input type="submit" value="Add Destination" />
</form>
<h2>Tickets</h2>
<ul>
  <% tickets.forEach(ticket => { %>
  <li><%= ticket.seat %> - $<%= ticket.price %></li>
  <% }); %>
</ul>
<h3><a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a></h3>
<script>
  const data = JSON.parse(
    document.querySelector('#flight__data').text
  ),
    map = new FlightMap('flight__map', data);
</script>
<%- include('../partials/footer'); %>
